<!DOCTYPE html>
<html>
	<head>
		<title>Registration</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<nav th:replace="fragments/navbar :: home-nav"></nav>
		<main class="registration-main">
			<form th:action="@{/registration}" th:object="${user}" method="POST"  class="registration-form">
				<h1 th:text="${'Registration'}" class="registration-form__title"></h1>
				<div class="registration-form__div-user-email">
					<div class="registration-form__div">
						<label th:text="${'Username: '}" class="registration-form__label"></label>
						<input type="text" th:field="*{username}" class="registration-form__input"/>
						<p th:each="error : ${usernameErrors}" th:text="${error}" class="registration-form__error-message">ValidationError</p>
					</div>
					<div class="registration-form__div">
						<label th:text="${'Email: '}" class="registration-form__label"></label>
						<input type="text" th:field="*{email}" name="email" value="" class="registration-form__input"/>
						<p th:each="error : ${emailErrors}" th:text="${error}" class="registration-form__error-message">ValidationError</p>
					</div>
				</div>
				<div class="registration-form__div-password">
					<div class="registration-form__div">
						<label th:text="${'Password: '}" class="registration-form__label"></label>
						<input type="password" th:field="*{password}" class="registration-form__input"/>
						<p th:each="error : ${passwordErrors}" th:text="${error}" class="registration-form__error-message">Validation Error</p>
					</div>
					<div class="registration-form__div">
						<label th:text="${'Confirm Password: '}" class="registration-form__label"></label>
						<input type="password" th:field="*{matchingPassword}" class="registration-form__input"/>
						<p th:each="error : ${matchingPasswordErrors}" th:text="${error}" class="registration-form__error-message">Validation Error</p>
					</div>
				</div>
				<div class="registration-form__button-container">
					<a th:href="@{/home}" class="registration-form__href">Go Back</a>
					<button type="submit" class="registration-form__button">Create</button>
				</div>
			</form>
		</main>
		<footer th:replace="fragments/footer :: footer-bar__fixed"></footer>
	</body>
</html>
