<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
		<title>Note Deleted</title>
	</head>
	<body>
		<header class="header">
                        <h1 class="header__title">Success</h1>
                </header>
		<nav th:replace="fragments/navbar :: desktop-nav"></nav>
		<main class="delete-note-success-main">
			<div class="delete-note-success-main__div-message-panel">
				<p th:text="${'Note Successfully Deleted'}" class="deleted-note-success-main__p-message"></p>
				<a th:href="@{/desktop}" class="delete-note-success-main__a-button">Continue</a>
			</div>
		</main>
		<footer th:replace="fragments/footer :: footer-bar"></footer>
	</body>
</html>
