<!DOCTYPE html>
<html>
	<head></head>
	<body>
		<nav th:fragment="home-nav" class="home-nav" id="home-nav">
			<ul class="home-nav__ul">
				<hr class="home-nav__separator">
				<a class="home-nav__href" th:href="@{/registration}">Sign-Out</a>
				<hr class="home-nav__separator">
				<a class="home-nav__href" th:href="@{/login}">Sign-In</a>
				<hr class="home-nav__separator">
			</ul>
		</nav>

		<nav th:fragment="desktop-nav" class="desktop-nav">
			<ul class="desktop-nav__ul">
				<hr class="desktop-nav__separator">
				<a class="desktop-nav__href" th:href="@{/desktop}">Desktop</a>
				<hr class="desktop-nav__separator">
				<a class="desktop-nav__href" th:href="@{/}">Profile</a>
				<hr class="desktop-nav__separator">
				<hr class="desktop-nav__separator desktop-nav__to-right">
				<form th:action="@{/logout}" method="post" class="desktop-nav__form desktop-nav__to-right">
					<button class="desktop-nav__button" type="submit">Logout</button>
				</form>
				<hr class="desktop-nav__separator desktop-nav__to-right">
			</ul>
		</nav>
	</body>
</html>
